body {
	background-color: #879f92;
	font-family: 'Roboto', sans-serif;
  color: white;
}
h1 {
	font-size: 35px;
}
h2 {
	color: #323232;
	font-size: 24px;
}
a {
	color: white;
	font-weight: bold;
}
.header-logo {
	float: left;
}
.signin-form {
	width: 276px;
	height: 214px;
	background-color: #f8f7f4;
}
.menu-drop a {
	color: black;
	font-size: 14px;
	text-decoration: none;
	font-weight: normal;
}
.navigation,
.navigation ul,
.breadcrumbs ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.navigation>li,
.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
}
.filter-select {
	display: inline-block;
}
.values {
	background-color: #aabcb2;
	border-radius: 15px;
	display: inline-block;
	padding: 5px;
}
.cart-items-header {
	width: 540px;
	height: 239px;
	background-color: #f8f7f4;
	color: black;
	font-size: 13px;
}
.cart-items span {
	color: #999999;
}

