* {
	margin: 0;
	padding: 0;
}
div, p, a, input {
	/*outline: 1px solid yellow;*/
	box-sizing: border-box;
}
body {
	/*background-color: #879f92;*/
	/*background: url(../img/1200.jpg) no-repeat 50% 0%;*/
	font-family: 'Roboto', 'Arial', sans-serif;
	color: white;
	position: relative;
	font-weight: 400;
}
body > input[type="radio"] {
	display: none;
}
.site-wrapper {
	background-repeat: no-repeat;
	background-position: top center;
}
.part-wrapper {
	min-width: 900px;
	max-width: 1200px;
	margin: 0 auto;
}
.catalog {
	background-color: #869f91;
}
a {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
a:hover {
	color: #ffbc9e;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
.button {
	border: none;
	border-radius: 40px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	background-color: #ed5a3d;
	background-image: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
	box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);
	color: white;
}
.button:hover {
	background-image: linear-gradient(#f58669,#ec6f5e);
	box-shadow: 0 1px 2px 0 #ac1000;
	color: #fff;
}
.button:active {
	background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: 0 2px 2px #ac1000 inset;
}
input [type="text"]:hover {
	border-color: #c7c6c5;
}
.slider {
	text-align: center;
}
.control-slider {
	position: absolute;
	left: 2.3%;
}
.slider-button {
	width: 280px;
	height: 65px;
	line-height: 60px;
	margin-top: -20px;
}
h1 {
	font-size: 35px;
	margin-bottom: 22px;
}
h2 {
	color: #323232;
	font-size: 24px;
}
header {
	padding: 0 2.3%;
}
header:after {
	content: "";
	display: table;
	clear: both;
}
.header-navigation {
	margin-top: 17px;
	float: left;
}
.header-logo {
	float: left;
	margin-top: 10px;
	margin-left: -10px;
}
.header-logo a{
	border: none;
}
.navigation {
	font-size: 0;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
	padding-left: 14px;
	padding-bottom: 15px;
}
.navigation>li {
	padding: 7px 13px 8px 13px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	/*font-weight: 700;*/
	position: relative;
	margin-right: 2px;
}
.header-navigation ul>li,
.bold-menu {
	font-weight: 700;
}
.selected {
	background-color: #d07058;
	border-radius: 15px;
}
.selected a {
	border: none;
}
.navigation>li:hover {
	border-radius: 15px;
/*	padding: 15px;*/
	background-color: #f7f6f3;
	color: #333333;
	z-index: 5;
}
.navigation>a {
	vertical-align: middle;
}
.navigation li:hover>a {
	color: #333333;
	border: none;
}
.drop-wrapper {
	position: absolute;
	top: 15px;
	z-index: 3;
	display: none;
	margin-top: 15px;
	left: -5px;
	padding-top: 10px;
}
.menu-drop li:hover {
	background-color: #fbded7;
	text-decoration: none;
	cursor: pointer;
}
.menu-drop {
	background-color: #f8f7f4;
	list-style: none;
	width: 150px;
	font-size: 14px;
	line-height: 16px;
	border-radius: 5px;
	box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.4);
}
.navigation li:hover .drop-wrapper {
	display: block;
}
.menu-drop li {
	padding: 8px 0 8px 0;
	border: none;
}
.menu-drop li:active {
	background-color: #f6b5a5;
}
.menu-drop a {
	color: black;
	font-weight: 400;
	margin: 5px 15px;
	text-decoration: none;
}
.bold-menu {
	margin-bottom: 10px;
}
.bold-menu a {
	font-weight: 700;
}
.bold-menu a:after {
	background: rgba(0, 0, 0, 0.2) none repeat 0 0;
	bottom: -6px;
	content: "";
	height: 1px;
	top: 48px;
	left: 4%;
	position: absolute;
	width: 90%;
}
.current-page {
	background-color: #d07058;
}
.current-page a {
	color: #ffffff;
}
.user-block {
	float: right;
	margin-top: 22px;
	font-size: 14px;
	font-weight: 600;
	position: relative;
}
.user-block a {
	line-height: 16px;
	text-decoration: none;
	border: none;
}
.user-block>div {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.user-drop-wrapper {
	position: absolute;
	right: 0;
	display: none;
	padding-top: 3px;
	z-index: 1;
}
.search-icon {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background-color: #a1b5aa;
	background: rgba(255, 255, 255, 0.2) url('../img/icon-search.png') no-repeat 50% 7px;
}
.search_user-block {
	position: relative;
}
.search-form {
	background-color: #f8f7f4;
	width: 340px;
	padding: 18px 15px;
	border-radius: 5px;
	box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.4);
}
.search-form input {
	width: 310px;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #d3d3d3;
}
.search_user-block:hover .user-drop-wrapper {
	display: block;
	z-index: 3;
}
.search_user-block:hover .search-icon {
/*	background-color: #f8f7f4;*/
	background: rgba(255, 255, 255, 1) url('../img/icon-search-hover.png') no-repeat 50% 6px;
}
.sign-in_user-block {
	position: relative;
	width: 93px;
	font-weight: normal;
}
.sign-in-icon:before {
	content: "";
	position: absolute;
	width: 30px;
	height: 30px; 
	top: 0px;
	left: 10px;
	background: rgba(255, 255, 255, 0) url('../img/icon-signin.png') no-repeat 50%; 
}
.sign-in-icon {
	width: 93px;
	padding: 8px 15px 8px 45px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	position: relative;
	cursor: pointer;
}
.signin-form {
	padding: 19px 17px 17px 19px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.4);
}
.signin-form input[type=text],
.signin-form input[type=password] {
	width: 240px;
	margin-bottom: 18px;
	padding: 14px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}
.signin-form input[type=submit] {
	float: left;
	font-size: 18px;
	color: white;
	width: 100px;
	padding: 12px 25px;
	border: none;
	border-radius: 20px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	background-color: #ed5a3d;
	background-image: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
	box-shadow: 0 2px 2px 0 rgba(172,16,0,.64);
}
.signin-form a {
	color: black;
	margin-left: 20px;
	line-height: 20px;
	font-size: 13px;
}
.sign-in_user-block:hover .user-drop-wrapper {
	display: block;
	z-index: 2;
}
.sign-in_user-block:hover .sign-in-icon {
	background-color: #ffffff; 
}
.sign-in_user-block:hover a {
	color: #333333; 
}
.sign-in_user-block:hover .sign-in-icon:before {
	background: rgba(255, 255, 255, 0) url('../img/icon-signin-hover.png') no-repeat 50%;
}
.sign-in_user-block:hover 
.signin-submit:after {
	content: "";
	display: table;
	clear: both;
}
.cart_user-block {
	position: relative;
	width: 117px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	padding: 8px 34px 8px 45px; 
	font-weight: normal;
}
.full-cart {
	padding: 8px 16px 9px 41px;
	width: 120px;
	color: #323232;
	background-color: rgba(255, 255, 255, 0.2);
}
.full-cart>a {
	color: #fff;
}
.cart_user-block:before {
	content: "";
	position: absolute;
	width: 21px;
	height: 21px; 
	top: 5px;
	left: 15px;
	background: rgba(255, 255, 255, 0) url('../img/icon-emptycart.png') no-repeat 50%; 
}
/*.cart_user-block:hover:before {
	background: rgba(255, 255, 255, 0) url('../img/icon-emptycart-hover.png') no-repeat 50%; 
}
.cart_user-block:hover {
	background-color: rgba(255, 255, 255, 1);
}*/
.cart_user-block:hover a{
	color: #ffffff;
}
.full-cart>a:before {
	content: "";
	position: absolute;
	width: 21px;
	height: 21px; 
	top: 5px;
	left: 15px;
	background: rgba(255, 255, 255, 0) url('../img/icon-fullcart.png') no-repeat 50%;
}
.cart-items-header {
	z-index: 1;
	background-color: #f8f7f4; 
	margin-top: 9px;
	padding: 6px 10px 25px 15px;
	width: 540px;
	border-radius: 5px;
	box-shadow: 0 19px 25px 1px rgba(0, 0, 0, 0.4);
}
.cart-items-header:after {
	display: table;
	content: "";
	clear: both;
}
.cart_user-block:hover .user-drop-wrapper {
	display: block;
}
.cart-product-name {
	width: 220px;
}
.cart-items {
	border-collapse: separate;
	border-spacing: 0 19px;
	font-size: 13px;
	margin-bottom: -10px;
	position: relative;
	font-weight: 400;
}
.cart-items td {
	line-height: 1.3;
	min-height: 40px;
	vertical-align: top;
	word-wrap: break-word;
}
.item-delete {
	cursor: pointer;
	position: relative;
	display: block;
	font-size: 0;
	height: 15px;
	width: 15px;
}
.item-delete:before {
	transform: rotate(45deg);
}
.item-delete:after {
	transform: rotate(-45deg);
}
.item-delete::after, .item-delete::before {
	background-color: #000;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 7px;
	width: 14px;
}
.cart-items td:nth-child(1) {
	padding-left: 0;
	padding-right: 12px;
/*	padding-top: 9px;*/
	position: relative;
}
.cart-items td:nth-child(2) {
	padding-right: 13px;
}
.cart-items td:nth-child(3) {
	max-width: 220px;
	padding-right: 10px;
}
.cart-table td:nth-child(4) {
	max-width: 115px;
}
.cart-table td:nth-child(4),
.cart-table td:nth-child(5) {
	padding-left: 14px;
	padding-right: 14px;
	text-align: center;
}
.cart-table span {
	color: #878787;
}
.cart-header-sum {
	margin-top: 15px;
	text-align: right;
	font-size: 15px;
	margin-bottom: 20px;
	font-weight: 700;
}
.submit-cart {
	float: right;
}
.submit-cart:after {
	display: table;
	content: "";
	clear: both;
}
.cart-button {
	display: block;
	box-shadow: 0 1px 2px 0 #ac1000;
	padding: 10px 15px 11px 15px;
	font-size: 18px;
	font-weight: 700;
	color: white;
	margin-right: 3px;
}
/*.cart-items td {
	margin-right: 10px;*/

.main-wrapper {
	padding: 0 2.3%;
	position: relative;
/*	margin-bottom: 40px;*/
}
.slider {
	position: relative;
	padding-top: 275px;
	text-align: center;
	color: #ffffff;
}
.slide {
	display: none;
}
.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 60px;
	line-height: 60px;
}
.slide-btn {
	display: inline-block;
	padding: 12px 50px;
	font-weight: 600;
	font-size: 31px;
	line-height: 41px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	border: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover {
	color: #fff;
	background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slide-btn:active {
	color: #fff;
	background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls {
	position: absolute;
	top: 487px;
	left: 27px;
	z-index: 20;
	font-size: 0;
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
}
#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slide-1.png");
}
#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slide-2.png");
}
#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slide-3.png");
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}
.address {
	display: block;
	margin-left: auto;
	text-align: right;
	font-size: 14px;
	font-weight: 700;
}
.phone {
	font-size: 22px;
}
/*.slide {
	font-size: 60px;
	font-weight: 700;
	padding: 275px 0 30px;
	text-align: center;
}
.control-slider,
.slider-button {
	display: inline-block;
	vertical-align: top;
}
.slider-button {
	text-align: center;
	font-size: 32px;
	font-weight: 700;
}*/
.giveaways-main {
	margin-top: 38px;
	font-size: 0;
}
.giveaway {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 15px 15px 25px;
	width: 48.9%;
	margin-right: 2.2%;
	border-radius: 10px;
}
.giveaway:nth-child(2) {
	margin-right: 0;
}
.giveaway1 {
	background: #741524 url('../img/giveaway1.jpg') no-repeat;
}
.giveaway2 {
	background: #5e2c0d url('../img/giveaway2.jpg') no-repeat;
}
.giveaway-title {
	font-size: 35px;
	font-weight: 700;
}
.giveaway-text {
	font-size: 18px;
	font-weight: 700;
	padding: 5px;
	margin-top: 10px;
	/*margin-bottom: 5px;*/
	min-height: 90px;
}
.giveaway-button {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding: 15px 25px;
	float: right;
}
.giveaway-button:after {
	content: "";
	display: table;
	clear: both;
}
.catalog-products {
	margin-top: 40px;
	font-size: 0;
}
.product {
	display: inline-block;
	vertical-align: top;
	width: 23.2%;
	margin-right: 2.3%;
	margin-bottom: 40px;
	position: relative;
}
.product:nth-child(4n) {
	margin-right: 0;
}
.product-image {
	height: auto;
	position: relative;
	z-index: 99;
}
.product-image img {
	height: auto;
	max-width: 100%;
}
.product-image:before {
	content: "";
	background: url(../img/hit.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 61px;
	height: 61px;
}
.product-price {
	position: absolute;
	bottom: 10px;
	left: 0;
	font-size: 30px;
	font-weight: 700;
}
.product-price span {
	font-size: 45px;
}
.product-name {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-top: 13px;
	padding: 0 5px;
	z-index: 2;
	position: relative;
	/*min-height: 60px;*/
}
.product-hover {
	font-size: 16px;
/*	opacity: 0.5;*/
	text-align: center;
	display: none;
	position: absolute;
	width: 104%;
	height: 125%;
	background-color: rgba(255, 255, 255, 0.4);
	top: -2%;
	left: -2%; 
	z-index: 1;
	border-radius: 5px;
	text-decoration: none;
}
.fastview {
	display: none;
	position: absolute;
	bottom: 20px;
	width: 200px;
	z-index: 5;
	left: 50%;
	margin-left: -100px;
	padding: 13px;
	opacity: 0.9;
	font-weight: 700;
	font-size: 18px;
}
.product:hover .product-hover,
.product:hover .fastview {
	display: block;
}
.product:hover .product-image {
	z-index: 5;
}
.product-image:not(:hover) {
	z-index: 0;
}
.seo {
	padding: 25px 20px 23px;
	margin-bottom: 40px;
	background: #f0e2c7 url('../img/seo-background.jpg') repeat-x;
	border-radius: 15px;
}
.seo h2 {
	/*margin-bottom: 10px;*/
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}
.seo-content:before {
	content: "";
	background: url('../img/seosprite.png') 0 0;
	position: absolute;
	top: -13px;
	left: 0;
	z-index: 10;
	width: 48px;
	height: 48px;
}
.seo-top .seo-content:last-child:before {
	background: url('../img/seosprite.png') 0 -52px;
}
.seo-bottom .seo-content:first-child:before {
	background: url('../img/seosprite.png') 0 -107px;
}
.seo-bottom .seo-content:last-child:before {
	background: url('../img/seosprite.png') 0 -159px;
}
.seo-content {
	display: inline-block;
	vertical-align: top;
	width: 48.6%;
	margin-right: 2.3%;
	padding-left: 55px;
	color: black;
	font-size: 16px;
	line-height: 22px;
	margin-top: 22px;
	position: relative;
}
.seo-content:nth-child(2n) {
	margin-right: 0;
}
.news-subscribe {
	font-size: 0;
}
.news {
	padding: 27px 20px 85px;
	font-size: 16px;
	color: black;
	text-align: left;
	min-height: 220px;
	background: #f0e2c7 url('../img/news-back.jpg')
}
.news-title {
	text-align: left;
	font-size: 24px;
	line-height: 30px;
	color: black;
	font-weight: 700;
	border: none;
	text-decoration: underline;
}
.subscribe {
	background: white url('../img/post-pattern.png');
	padding: 4px;
	min-height: 220px;
}
.subscribe-wrapper {
	background-color: #f8f7f4;
	border-radius: 15px;
	padding: 28px 20px 36px 22px;
	font-size: 16px;
	line-height: 22px;
}
.subscribe form {
	padding-right: 140px;
	position: relative;
	font-family: Roboto, Arial, sans-serif;
}
.subscribe p {
	margin-bottom: 22px;
	min-height: 80px;
	color: #666;
}
.subscribe input {
	padding: 10px;
	margin-right: 150px;
}
.subscribe input[type=text]{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	padding: 13px 15px 12px;
}
.subscribe input[type=submit]{
	position: absolute;
	right: -150px;
	bottom: 0;
	font-size: 18px;
	line-height: 24px;
	color: white;
	font-weight: 700;
	padding: 12px 15px;
}
.map {
	position: relative;
	width: 100%;
	height: 430px;
	/*margin: 0 auto;*/
	margin-top: 40px;
	background: url('../img/map.jpg');
}
.map-wrapper {
	min-width: 900px;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}
.shop-address {
	position: absolute;
	top: 65px;
	right: 2.3%;
	width: 300px;
	min-height: 240px;
	padding: 24px 25px 25px;
	color: #000;
	background: #fff;
	border-radius: 15px;
	z-index: 2;
}
.shop-address p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
}
.shop-address b {
	display: block;
	margin-bottom: 19px;
	font-size: 18px;
	line-height: 24px;
}
.shop-address .contact-phone {
	display: block;
	font-size: 18px;
	color: #000;
	font-weight: 700;
	line-height: 22px;
	margin-bottom: 2px;
	margin-top: 5px;
	text-decoration: none;
}
.feedback-button {
	display: block;
	width: 100%;
	margin-top: 26px;
	padding: 11px;
	font-size: 18px;
}
footer {
	padding: 2.3%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;
	border-top: 1px solid white
}
.social-buttons {
	float: left;
}
.social-buttons:after {
	content: "";
	display: table;
	clear: both;
}
.social-buttons a {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-right: 8px;
	font-size: 0;
	border: 2px solid rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	vertical-align: bottom;
	opacity: 0.8;
}
.social-buttons a:active {
	box-shadow:  0 2px 1px #888 inset;
}
.twitter-button {
	background-color: rgba(255, 255, 255, 0);
	background-image: url(../img/icon-twitter.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.instagram-button {
	background-color: rgba(255, 255, 255, 0);;
	background-image: url(../img/icon-instagram.png);
	background-repeat: no-repeat;
}
.facebook-button {
	background-color: rgba(255, 255, 255, 0);;
	background-image: url(../img/icon-facebook.png);
	background-repeat: no-repeat;
}
.vk-button {
	background-color: rgba(255, 255, 255, 0);;
	background-image: url(../img/icon-vk.png);
	background-repeat: no-repeat;
}
.social-buttons a:hover {
	opacity: 1;
}
.footer-links {
	display: inline-block;
	margin: 0 auto;
}
.footer-links-left a,
.footer-links-right a {
	display: block;
	margin-bottom: 5px;
	color: white;
	font-size: 13px;
	line-height: 16px;
}
.footer-links-left {
	float: left;
	max-width: 180px;
	font-size: 13px;
	font-weight: 300;
	text-align: left;
	margin-right: 30px;
	position: relative;
}
.footer-links-right {
	float: right;
	font-size: 13px;
	font-weight: 300;
	text-align: left;
}
.footer-links-left a:first-child {
	font-weight: 700;
	width: 115px;
}
.footer-links-right>a:first-child {
	font-weight: 400;
	width: 110px;
}
.footer-links-left a:first-child:before {
	position: absolute;
	content: "";
	background: url('../img/icon-heart.png') 50% 0;
	top: 0;
	left: -20px; 
	width: 15px;
	height: 13px;
}
.footer-credits {
	float: right;
	margin-top: -15px;
	font-size: 12px;
}
.footer-credits:after {
	content: "";
	display: table;
	clear: both;
}
.academy-logo {
	text-align: left;
}
.breadcrumbs {
	list-style: none;
	margin-top: -20px;
}
.breadcrumbs li {
	position: relative;
	display: inline-block;
	font-size: 14px;
	margin-right: 17px;
}
.breadcrumbs li:after {
	position: absolute;
	right: -13px;
	content: "»"
}
.breadcrumbs li:last-child {
	border: none;
}
.breadcrumbs li:last-child:after {
	content: ""
}
h1 {
	font-size: 35px;
	margin-top: 5px;
}
.filters-block {
	width: 900px;
}
.filters-block label:hover {
	cursor: pointer;
}
.filters-sorting:hover .sort {
	color: #fff;
	background-color: #000;
}
#filters>div {
	display: inline-block;
	vertical-align: top;
/*	margin-right: 26px;*/
}
.filters-submit {
	vertical-align: bottom;
	font: inherit;
	padding: 7px 28px 6px 28px;
	background-color: #a6b7ae;
	border: 2px solid #f6f8f7;
	border-radius: 20px;
	color: white;
	font-weight: 500;
}
.filters-submit:hover {
	cursor: pointer;
	background-color: #fbfcfb;
	border: 2px solid #fbfcfb;
	color: black;
}
.filter-name {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	padding-left: 16px;
	padding-top: 5px;
	padding-bottom: 7px;
}
.filters-sorting select {
	display: block;
	padding: 6px 40px 9px 11px;
	background: #aabab0;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	color: white;
	font: inherit;
	-moz-appearance: none;
}
/*.filters-sorting select:active {
	background: #ffffff;
	color: #000000;
}*/
.filters-sorting select:hover {
	background: #ffffff;
	color: #000000;
	border: none;
}
.range-controls {
	position: relative;
	min-height: 36px;
	padding-left: 15px;
	padding-right: 15px;
	background: #aabab0;
	border-radius: 20px;
	overflow: hidden;
}
.filters-price-range {
	width: 218px;
	margin-right: 13px;
	margin-left: 10px;
}
.filters-price-range .scale {
	margin-top: 16px;
	height: 4px;
	background: #d1d9d2;
}
.filters-price-range .bar {
	height: 4px;
	width: 98px;
	margin-left: 35px;
	background: #f8f7f4;
}
.toggle {
	position: absolute;
	top: 8px;
	left: 44px;
	width: 20px;
	height: 20px;
	background: #f8f7f4;
	cursor: pointer;
	border-radius: 50%;
}
.min-toggle {
	left: 34px;
}
.max-toggle {
	left: 132px;
}
.values {
	background: #aabab0;
	color: white;
	font: inherit;
	border-radius: 15px;
}
.values div {
	display: inline-block;
	vertical-align: top;
}
.filters-fat-content .values {
	padding: 8px 0 9px 15px;
}
.filters-fat-content input {
	display: none;
}
.filters-fat-content label {
	margin-right: 17px;
	padding-left: 30px;
}
.filters-fat-content label {
	position: relative;
}
.filters-fat-content label:before {
	content: '';
	position: absolute;
	left: 0px;
	width: 12px;
	height: 12px;
	border: 3px solid #aabab0;
	border-radius: 50%;
	box-shadow: 0 0 0 1.3px #fff;
}
.filters-fat-content label:hover:before {
	box-shadow: 0 0 0 2px #fff;
}
.filters-fat-content input:checked+label:before {
	background-color: #fff;
}
.filter-fillers {
	margin-top: 10px;
	margin-right: 8px;
}
.filter-fillers .values {
	padding: 8px 10px 8px 16px;
}
.filter-fillers input {
	display: none;
}
.filter-fillers label {
	margin-right: 18px;
	padding-left: 31px;
}
.filter-fillers label {
	position: relative;
}
.filter-fillers label:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #fff;
	border-radius: 3px;
}
.filter-fillers label:hover:before {
	box-shadow: 0 0 0 1px #fff;
}
.filter-fillers input:checked+label:before {
	background:  url('../img/checkbox.png') no-repeat 2px 4px;
}
.pages {
	width: 300px;
	margin-left: auto;
	margin-top: 42px;
	margin-right: -10px;
	margin-bottom: 30px;
	text-align: right;
}
.pages ul {
	list-style: none;
}
.pages li {
	display: inline-block;
}
.pages a,
.pages span {
	display: inline-block;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-weight: 500;
	color: white;
	background: #849d8f;
	font-size: 16px;
	line-height: 26px;
	border: none;
}
.pages .prev {
	text-indent: -10000px;
	background-image: url("../img/pages-arrows.png");
	background-repeat: no-repeat;
	background-position: 50% 7px;
}
.pages .next {
	text-indent: -10000px;
	background-image: url("../img/pages-arrows.png");
	background-repeat: no-repeat;
	background-position: 50% -30px;
}
.pages .current {
	background-color: white;
	color: black;
}
.pages .disabled {
	opacity: 0.3;
}
.page:hover {
	background-color: #9db1a5;
	cursor: pointer;
}
.feedback-form {
	width: 476px;
	margin: 0 auto;
	padding: 15px 25px 7px 25px;
	position: fixed;
	left: 50%;
	margin-left: -238px;
	top: 10%;
	border-radius: 5px;
	background-color: #f8f7f4;
	z-index: 51;
	display: none;
}
.feedback-form-show {
	display: block;
}
.feedback-form p {
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: black;
}
.feedback-form input {
	display: block;
	margin-bottom: 20px;
}
.feedback-form input:nth-child(3) {
	margin-left: auto;
}
.feedback-form input[type=text] {
	width: 265px;
	padding: 12px 15px 12px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	font-size: 16px;
	color: #999999;
}
.feedback-form textarea {
	padding: 13px 15px 105px;
	width: 400px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	font-size: 16px;
	color: #999999;
	margin-bottom: 20px;
}
.feedback-form input[type=submit] {
	float: right;
	font-size: 18px;
	color: white;
	padding: 14px 25px;
}
.feedback-form input[type=submit]:after {
	content: "";
	display: table;
	clear: both;
}
.feedback-close {
	border: 0 none;
	font-size: 0;
	position: absolute;
	right: 20px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-color: rgba(255, 255, 255, 0);
}
.feedback-close::after,
.feedback-close::before {
	background-color: #000;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 10px;
	width: 22px;
	cursor: pointer;
}
.feedback-close::before {
	transform: rotate(45deg);
}
.feedback-close::after {
	transform: rotate(-45deg);
}
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
.modal-overlay-show {
	display: block;
}